@media only screen and (max-width:2440px) {
}
@media only screen and (max-width:1920px){
}
@media only screen and (max-width:1600px) {
}
@media only screen and (max-width:1280px) {
}
@media only screen and (max-width:1024px) {}
@media only screen and (max-width:960px) {}
@media only screen and (max-width:768px) {
    .container{
        .product_list{
            &-content{
                .content_right{
                    .product_content{
                        grid-template-columns: auto auto;
                    }
                }
            }
        }
        .nav_bottom{
            &-center{
                .list_container{
                    justify-content: space-between;
                    padding: 5px 5px;
                    img{
                        display: none;
                    }
                    .img_center{
                        display: block !important;
                      img{
                        height: 35px !important;
                        display: block !important;
                      }
                    }
                }
            }
        }
        .input_text{
            display: none;
        }
        .input_text1{
            display: flex;
            width: 210px;
            height: 20px;
            padding: 15px 20px;
            margin: 10px 15px;
        }
    }
}
@media only screen and (max-width:320px) {}
@media only screen and (max-width:280px) {}

//Missed Responsive
@media only screen and (max-width:1550px) {
}
@media only screen and (max-width:1380px) {
    .container{
        .nav_bottom{
            &-center{
                .ul_list li{
                    padding: 15px 20px;
                }
            }
        }
    }
}
@media only screen and (max-width:1180px) {
   .container{
        .input_text{
            width: 220px;
            height: 20px;
            margin: 10px 10px;
        }
        .product_list{
            &-content{
                .content_left{
                    width: 32%;
                }
                .content_right{
                    .item{
                        width: auto;
                    }
                }
            }
        }
    }
    .list_icon{
        &-content{
            .icon_list{
                ul{
                    flex-wrap: wrap;
                }
            }
        }
    }

    //SCSS Details
    .card_wrapper{
        .centerr_flex{
            .flex_content{
                .left{
                    padding-right: 140px;
                }
                .right{
                    h3{
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1015px) {
    .container{
        .nav_bottom{
            &-center{
                .ul_list li{
                    padding: 15px 10px;
                }
            }
        }
        .input_text{
            width: 180px;
            margin: 10px 10px;
        }
    }
}
@media only screen and (max-width:1000px) {
    .container{
        .carousel{
            .carousel_content{
                .button_register{
                    left: 8%;
                    button{
                        width: 240px;
                        height: 55px;
                        a{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:900px) {
    .container{
        .product_list{
            &-content{
                .content_left{
                    padding-right: 5px;
                    padding-left: 5px;
                }
                .content_right{
                    .item{
                        .title{
                            font-size: 14px;
                            padding-bottom:5px;
                        }
                    }
                }
            }
        }
    }
    .picture_content .center_flex .content_title p{
        font-size: 15px;
    }
}
@media only screen and (max-width:882px) {
    .container{
        .nav_bottom{
            &-center{
                .list_container{
                    img{
                        height: 30px;
                    }
                }
                .ul_list{
                    li {
                        a{
                            font-size: 14px;
                            #icon{
                                font-size: 24px;
                            }
                            i{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .ul_list1{
                    li {
                        a{
                            font-size: 14px;
                            #icon{
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
        .input_text{
            width: 170px;
            padding: 16px 20px;
        }
        .product_list{
            &-content{
                .content_left{
                    width: 40%;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
    }
    .card_wrapper .centerr_flex .flex_content .left{
        padding-right:30px;
        .thumnail_text{
            a{
                padding-top: 110%;
                img{
                    width: 100% !important;
                }
            }
        }
        .option_flex{
            width: 100%;
        }
    }

}
@media only screen and (max-width:800px){
    .container{
        .nav_bottom{
            &-center{
                .list_ionc li{
                    padding: 0px 10px;
                }
            }
        }
    }
    //Deatils Responsive

}
@media only screen and (max-width:768px) {
    .container{
        .nav_bottom{
            &-center{
                .ul_list{
                    display: none;
                    
                }
            }
        }
        .banner_content{
            h2{
                padding: 70px 5px 25px 5px;
                font-size: 28px;
            }
            .button_signup{
                button{
                    padding: 10px 25px;
                    a{
                        font-size: 20px;
                    }
                    img{
                        display: none;
                    }
                }
            }
        }
        .carousel{
            img{
                display: none;
            }
            .carousel_content{
                .button_register{
                    left: unset;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    button{
                        width: 180px;
                        height: 40px;
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .img2{
            display: block !important;
            height: auto;
        }
        .nav_top{
           padding: 0px 10px;
           p{
            font-size: 16px ;
           }
        }
    }
    .menu{
        display: block !important;
        color: white;
        font-size: 24px;
    }
    .card_wrapper{
        .centerr_flex{
            .flex_content{
                .left .main_image .thumnail_text a {
                    padding-top: 110%;
                }
                .right{
                    h3{
                        font-size: 18px;
                    }
                    p{
                        font-size: 16px;
                    }
                    #dola{
                        font-size: 26px;
                    }
                    .size{
                        ul{
                            li{
                                padding: 8px 7px;
                                p{
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .button_content{
                        button{
                            padding: 15px 30px;
                        }
                        .bg_heart{
                            .heart1{
                                ion-icon{
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                    .icon{
                        ul{
                            li{
                                a{
                                    ion-icon{
                                        width: 20px;
                                        height: 20px;
                                    }
                                    #share1{
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:700px){
    .container{
        .product_list{
            &-content{
                .content_left{
                    width: 40%;
                }
            }
        }
    }
    .footer_content{
        &-bg{
            .text_content{
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0px 20px;
                ul{
                    padding-top: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
}
@media only screen and (max-width:680px){
.card_wrapper{
    .centerr_flex{
        .flex_content{
            display: grid;
            grid-template-columns: auto;
            .left{
                padding-right: 0px;
            }
            .right{
                text-align: center;
                h3{
                    font-size: 24px;
                }
                .rate{
                    justify-content: center;
                }
                .color{
                    justify-content: center;
                }
                .size{
                    ul{
                        justify-content: center;
                        li{
                            padding: 15px 15px;
                            p{
                                font-size: 22px;
                            }
                        }
                    }
                }
                .button_content{
                    justify-content: center;
                }
                .icon{
                    justify-content: center;
                }
            }
        }
    }
}
}
@media only screen and (max-width:675px){
}
@media only screen and (max-width:625px) {
}
@media only screen and (max-width:600px) {
    .container{
        .nav_top{
            padding: 0px 10px;
            p{
             font-size: 14px ;
            }
         }
         .product_list{
            &-content{
                .content_right{
                    .item{
                        .title{
                            font-size: 12px;
                        }
                    }
                }
            }
         }
    }
}
@media only screen and (max-width:575px){
    .content_left{
        display: none;
    }
    .content_left1{
        display: grid !important;
        grid-template-columns: auto auto;
        justify-content: space-around;
        width: 100%;
        padding: 30px 10px;
        .filter{
            padding: 10px 0px;
        }
    }
    .container{
        .product_list{
            padding: 10px 0px;
            &-content{
                flex-wrap: wrap;
                .content_right{
                    .item{
                        .title{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .button_apply{
        margin: 20px 0px;
    }
    form a{
        justify-content: center;
    }
    input[type=checkbox] {
        margin: 0px 10px;
    }
    .double-slider-box1{
        display: block;
    }
    .double-slider-box{
        display: none;
    }
    .accordion1{
        display: block !important;
    }
    .swiper-scrollbar{
        display: none !important;
    }
}
@media only screen and (max-width:525px) {
    .footer_content{
        background: none;
        &-bg{
            padding: 0px;
           .text_content{
            padding: unset;
            display: none;
           }
            .accordion{
                display: block !important;
            }
        }
    }
    .container{
        .nav_top{
            #none{
                display: block;
                text-shadow: unset;
            }
        }
        .banner_content h2{
            font-size: 20px;
        }
        .banner_content i{
            font-size: 21px;
        }
        .product_list{
            &-content{
                .content_right{
                    .item{
                        .title{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .input_text1{
            display: none;
        }
        .nav_bottom{
            &-center{
                .list_container{
                    padding: 5px 20px;
                }
            }
        }
    }
    .search_content{
        display: block;
    }
    .menu{
        display: none !important;
    }
    .menu1{
        display:  block !important;
        i{
            color: white;
            font-size: 32px;
        }
    }
    #non{
        display: none;
    }
    .picture_content .center_flex .content_title p{
        font-size: 12px;
    }
    .product_details{
        .center_flex{
            h4{
                font-size: 22px;
            }
            ul{
                li{
                    margin: 10px 20px;
                    font-size: 16px;
                }
            }
            p{
                font-size: 16px;
            }
        }
    }
    .picture_content{
       .center_flex{
        h4{
            font-size: 22px;
        }
       }
    }
}
@media only screen and (max-width:435px){
    .container{
        .footer_end{
            background: #000;
            &-bg{
                .text_content{
                    flex-wrap: wrap;
                    padding: 0px 10px;
                }
            }
        }
        .banner_content{
            .button_signup{
                padding-bottom: 70px;
                button{
                    padding: 5px 10px;
                    text-align: center;
                    a{
                        font-size: 16px;
                    }
                }
            }
            .bg_adiclub{
                img{
                    width: 110px;
                }
            }
            .bg_adiclub1{
                img{
                    width: 90px;
                }
            }
            h2{
                font-size: 16px;
            }
            i{
                font-size: 16px;
            }
        }
        .carousel{
            .img2{
                display: none !important;
            }
            img{
                display: block;
            }
            .carousel_content{
                .button_register{
                    display: none;
                }
            }
        }
        .product_list{
            padding: 10px 0px;
            &-content{
                .content_right{
                    .product_list{
                        column-gap: unset;
                    }
                    .item{
                        .title{
                            padding-top: 10px;
                        }
                        .color{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .nav_top{
            p{
               font-size: 12px;
            }
        }
        .nav_bottom{
            &-center{
                .list_container{
                    .img_center img{
                        height: 24px !important;
                    }
                }
            }
        }
    }
    .heart1{
        ion-icon{
            width: 20px;
            height: 20px;
        }
    }
    .button_load{
        padding: 10px 20px;
        button{
            a{
                font-size: 16px;
            }
        }
    }
    .card_wrapper{
       
        .centerr_flex{
            padding: 0px 5px;
            h2{font-size: 18px;}
            .flex_content{
                .right{
                    h3{
                        font-size: 20px;
                    }
                }
            }
        }
        .option_flex{
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
}
@media only screen and (max-width:375px) {
    .container{
        .nav_top{
            p{
                font-size: 12px;
            }
        }
        .product_list{
            &-content{
                .content_left1{
                    .left_context{
                        h2{
                            font-size: 21px;
                        }
                    }    
                }
                .content_right{
                    .item{
                        .title{
                            font-size: 10px;
                        }
                    }
                }
                .flowers-wrap{
                    form{
                        #h2_content{
                            font-size: 20px;
                            padding-top: 42px;
                        }
                    }
                }
            }
        }
        .footer_end{
            &-bg{
                padding: 30px 3px;
            }
        }
    }
    .button_apply{
        button{
            padding: 10px 0px;
        }
    }
    .picture_content .center_flex .content_title p{
        font-size: 8px;
    }
    .product_details .center_flex ul li{
        margin: 10px 5px;
    }
}
@media only screen and (max-width:325px) {
    .container{
        .nav_top{
            p{
                font-size: 10px;
            }
        }
    }
}